openapi: 3.0.3
info:
  title: 'I-plus API documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://i-plus.co/backend'
paths:
  /api/auth/signup:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "The user's first name."
                  example: veritatis
                last_name:
                  type: string
                  description: "The user's last name."
                  example: et
                email:
                  type: string
                  description: "The user's email address."
                  example: fkeeling@example.org
                password:
                  type: string
                  description: "The user's password."
                  example: ']$MIxV!!se7G*HvbD=n['
                phone:
                  type: string
                  description: "optional The user's phone number."
                  example: alias
                country:
                  type: string
                  description: "optional The user's country."
                  example: officiis
                birthdate:
                  type: date
                  description: "optional The user's birthdate in format day-month-year."
                  example: molestiae
                bio:
                  type: string
                  description: 'optional A short bio for the user.'
                  example: nihil
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: rerum
              required:
                - first_name
                - last_name
                - email
                - password
                - password_confirmation
      security: []
  /api/auth/login:
    post:
      summary: 'Login user and create token.'
      operationId: loginUserAndCreateToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: ''
                  example: dignissimos
                password:
                  type: string
                  description: 'The password.'
                  example: pass1234
                email:
                  type: string
                  description: 'The email of the user.'
                  example: john@example.com
              required:
                - login
                - password
                - email
      security: []
  /api/auth/logout:
    post:
      summary: 'Logout user (Revoke the token).'
      operationId: logoutUserRevokeTheToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/auth/reset-password:
    post:
      summary: 'Send a password reset link to the given user.'
      operationId: sendAPasswordResetLinkToTheGivenUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user who is requesting a password reset.'
                  example: gerald38@example.org
              required:
                - email
      security: []
  /api/auth/change-password:
    post:
      summary: "Change the user's password."
      operationId: changeTheUsersPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'The current password of the user.'
                  example: ut
                new_password:
                  type: string
                  description: 'The new password to set.'
                  example: necessitatibus
                new_password_confirmation:
                  type: string
                  description: 'Confirmation of the new password.'
                  example: reiciendis
              required:
                - current_password
                - new_password
                - new_password_confirmation
      security: []
  /api/inspire/posts:
    get:
      summary: 'Display a listing of Inspire posts.'
      operationId: displayAListingOfInspirePosts
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/inspire/posts could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\artisan'
                      line: 13
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route backend/api/inspire/posts could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line: 144
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 761
                        function: match
                        class: Illuminate\Routing\CompiledRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 110
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 49
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 212
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                        line: 279
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 181
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 1049
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 318
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 169
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 196
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                        line: 1187
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\artisan'
                        line: 13
                        function: handleCommand
                        class: Illuminate\Foundation\Application
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line:
                          type: integer
                          example: 144
                        function:
                          type: string
                          example: handleMatchedRoute
                        class:
                          type: string
                          example: Illuminate\Routing\AbstractRouteCollection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created Inspire post in storage.'
      operationId: storeANewlyCreatedInspirePostInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rfpegcjewksliiuratnhsgwt
                content:
                  type: string
                  description: ''
                  example: culpa
                video_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://hansen.biz/'
                category:
                  type: string
                  description: ''
                  example: eveniet
                sub_category:
                  type: string
                  description: ''
                  example: et
              required:
                - title
                - content
                - category
                - sub_category
      security: []
  '/api/inspire/posts/{id}':
    get:
      summary: 'Display the specified Inspire post.'
      operationId: displayTheSpecifiedInspirePost
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/inspire/posts/minima could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\artisan'
                      line: 13
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route backend/api/inspire/posts/minima could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line: 144
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 761
                        function: match
                        class: Illuminate\Routing\CompiledRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 110
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 49
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 212
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                        line: 279
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 181
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 1049
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 318
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 169
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 196
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                        line: 1187
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\artisan'
                        line: 13
                        function: handleCommand
                        class: Illuminate\Foundation\Application
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line:
                          type: integer
                          example: 144
                        function:
                          type: string
                          example: handleMatchedRoute
                        class:
                          type: string
                          example: Illuminate\Routing\AbstractRouteCollection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    put:
      summary: 'Update the specified Inspire post in storage.'
      operationId: updateTheSpecifiedInspirePostInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: o
                content:
                  type: string
                  description: ''
                  example: dolores
                video_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.kohler.com/eius-repudiandae-ea-sit'
                category:
                  type: string
                  description: ''
                  example: sit
                sub_category:
                  type: string
                  description: ''
                  example: repellat
                status:
                  type: string
                  description: ''
                  example: active
                  enum:
                    - active
                    - inactive
      security: []
    delete:
      summary: 'Remove the specified Inspire post from storage.'
      operationId: removeTheSpecifiedInspirePostFromStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the post.'
        example: minima
        required: true
        schema:
          type: string
  /api/ican/posts:
    get:
      summary: ''
      operationId: getApiIcanPosts
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/ican/posts could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\artisan'
                      line: 13
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route backend/api/ican/posts could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line: 144
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 761
                        function: match
                        class: Illuminate\Routing\CompiledRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 110
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 49
                        function: 'Illuminate\Pipeline\{closure}'
[...]
