openapi: 3.0.3
info:
  title: 'I-plus API documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://i-plus.co/backend'
paths:
  /api/auth/login:
    post:
      summary: 'Login user and create token.'
      operationId: loginUserAndCreateToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: john@example.com
                password:
                  type: string
                  description: 'The password.'
                  example: pass1234
              required:
                - email
                - password
      security: []
  /api/auth/logout:
    post:
      summary: 'Logout user (Revoke the token).'
      operationId: logoutUserRevokeTheToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/inspire/posts:
    get:
      summary: 'Display a listing of Inspire posts.'
      operationId: displayAListingOfInspirePosts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created Inspire post in storage.'
      operationId: storeANewlyCreatedInspirePostInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: begewdysdmesriykvestnzfu
                content:
                  type: string
                  description: ''
                  example: excepturi
                video_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.trantow.com/enim-repudiandae-alias-laudantium-et.html'
                category:
                  type: string
                  description: ''
                  example: omnis
                sub_category:
                  type: string
                  description: ''
                  example: saepe
              required:
                - title
                - content
                - category
                - sub_category
      security: []
  '/api/inspire/posts/{id}':
    get:
      summary: 'Display the specified Inspire post.'
      operationId: displayTheSpecifiedInspirePost
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: 'Update the specified Inspire post in storage.'
      operationId: updateTheSpecifiedInspirePostInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: onozl
                content:
                  type: string
                  description: ''
                  example: sapiente
                video_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://www.sawayn.net/aperiam-qui-rem-sint-rem-quae-consequuntur-ea'
                category:
                  type: string
                  description: ''
                  example: deleniti
                sub_category:
                  type: string
                  description: ''
                  example: nihil
                status:
                  type: string
                  description: ''
                  example: active
                  enum:
                    - active
                    - inactive
      security: []
    delete:
      summary: 'Remove the specified Inspire post from storage.'
      operationId: removeTheSpecifiedInspirePostFromStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the post.'
        example: impedit
        required: true
        schema:
          type: string
  /api/ican/posts:
    get:
      summary: ''
      operationId: getApiIcanPosts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiIcanPosts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                post_title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: aqeipftrijhbiyjcbkxwjrsk
                post_short_description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ygxuqbumlpepukid
                post_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                post_price:
                  type: number
                  description: '2MB max size.'
                  example: 1.8656153
                post_price_type:
                  type: string
                  description: ''
                  example: hourly
                  enum:
                    - fixed
                    - hourly
                post_status:
                  type: string
                  description: ''
                  example: active
                  enum:
                    - active
                    - inactive
              required:
                - post_title
                - post_short_description
                - post_price
                - post_price_type
                - post_status
      security: []
  '/api/ican/posts/{id}':
    get:
      summary: ''
      operationId: getApiIcanPostsId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiIcanPostsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                post_title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: obbeavm
                post_short_description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: mb
                post_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                post_price:
                  type: number
                  description: ''
                  example: 3500.0
                post_price_type:
                  type: string
                  description: ''
                  example: fixed
                  enum:
                    - fixed
                    - hourly
                post_status:
                  type: string
                  description: ''
                  example: active
                  enum:
                    - active
                    - inactive
      security: []
    delete:
      summary: ''
      operationId: deleteApiIcanPostsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the post.'
        example: ut
        required: true
        schema:
          type: string
  /api/ineed/posts:
    get:
      summary: ''
      operationId: getApiIneedPosts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiIneedPosts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                post_title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lbbbqwjnsdzdbl
                post_short_description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: sgphbisodviazakkpjl
                post_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                post_price:
                  type: number
                  description: '2MB max size.'
                  example: 16.595938692
                post_price_type:
                  type: string
                  description: ''
                  example: fixed
                  enum:
                    - fixed
                    - hourly
                post_status:
                  type: string
                  description: ''
                  example: inactive
                  enum:
                    - active
                    - inactive
              required:
                - post_title
                - post_short_description
                - post_price
                - post_price_type
                - post_status
      security: []
  '/api/ineed/posts/{id}':
    get:
      summary: ''
      operationId: getApiIneedPostsId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiIneedPostsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                post_title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ltq
                post_short_description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rfadm
                post_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                post_price:
                  type: number
                  description: ''
                  example: 710509965.74
                post_price_type:
                  type: string
                  description: ''
                  example: hourly
                  enum:
                    - fixed
                    - hourly
                post_status:
                  type: string
                  description: ''
                  example: inactive
                  enum:
                    - active
                    - inactive
      security: []
    delete:
      summary: ''
      operationId: deleteApiIneedPostsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the post.'
        example: ut
        required: true
        schema:
          type: string
  /api/credits:
    get:
      summary: ''
      operationId: getApiCredits
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/credits/add:
    post:
      summary: ''
      operationId: postApiCreditsAdd
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/credits/deduct:
    post:
      summary: ''
      operationId: postApiCreditsDeduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/credits/purchase:
    post:
      summary: ''
      operationId: postApiCreditsPurchase
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
