openapi: 3.0.3
info:
  title: 'I-plus API documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://i-plus.co/backend'
paths:
  /api/auth/signup:
    post:
      summary: 'Register a new user and auto login.'
      operationId: registerANewUserAndAutoLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "The user's first name."
                  example: et
                last_name:
                  type: string
                  description: "The user's last name."
                  example: rerum
                email:
                  type: string
                  description: "The user's email address."
                  example: jaiden.borer@example.com
                password:
                  type: string
                  description: "The user's password."
                  example: '4#ZW/Qh+'
                phone:
                  type: string
                  description: "The user's phone number."
                  example: et
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: qui
              required:
                - first_name
                - last_name
                - email
                - password
                - phone
                - password_confirmation
      security: []
  /api/auth/login:
    post:
      summary: 'Login user and create token.'
      operationId: loginUserAndCreateToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: 'The login credential (username or email) of the user.'
                  example: john@example.com
                password:
                  type: string
                  description: 'The password.'
                  example: pass1234
              required:
                - login
                - password
      security: []
  /api/auth/logout:
    post:
      summary: 'Logout user (Revoke the token).'
      operationId: logoutUserRevokeTheToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/auth/forgot-password:
    post:
      summary: 'Send a password reset link to the given user.'
      operationId: sendAPasswordResetLinkToTheGivenUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user who is requesting a password reset.'
                  example: bmurray@example.org
              required:
                - email
      security: []
  /api/auth/reset-password:
    post:
      summary: "Reset the user's password."
      operationId: resetTheUsersPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The password reset token.'
                  example: id
                email:
                  type: string
                  description: 'The email of the user.'
                  example: nona.mitchell@example.com
                password:
                  type: string
                  description: 'The new password.'
                  example: "m?']81&"
                password_confirmation:
                  type: string
                  description: 'Confirmation of the new password.'
                  example: qui
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/auth/change-password:
    post:
      summary: "Change the user's password."
      operationId: changeTheUsersPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'The current password of the user.'
                  example: eum
                new_password:
                  type: string
                  description: 'The new password to set.'
                  example: ex
                new_password_confirmation:
                  type: string
                  description: 'Confirmation of the new password.'
                  example: voluptatibus
              required:
                - current_password
                - new_password
                - new_password_confirmation
  /api/user:
    put:
      summary: 'Update user details.'
      operationId: updateUserDetails
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "optional The user's first name."
                  example: debitis
                last_name:
                  type: string
                  description: "optional The user's last name."
                  example: eum
                email:
                  type: string
                  description: "optional The user's email address."
                  example: raegan02@example.org
                phone:
                  type: string
                  description: "optional The user's phone number."
                  example: minus
                country:
                  type: string
                  description: "optional The user's country."
                  example: corporis
                birthdate:
                  type: date
                  description: "optional The user's birthdate in format day-month-year."
                  example: accusamus
                bio:
                  type: string
                  description: 'optional A short bio for the user.'
                  example: ipsa
  /api/user/username:
    put:
      summary: "Update the user's username."
      operationId: updateTheUsersUsername
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The user's username."
                  example: et
              required:
                - username
  /api/user/profile:
    post:
      summary: 'Update user details, upload an image, and assign skills in one go.'
      operationId: updateUserDetailsUploadAnImageAndAssignSkillsInOneGo
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'User profile updated successfully'
                  user:
                    id: 1
                    first_name: John
                    last_name: Doe
                    email: user@example.com
                    phone: '+1234567890'
                    country: USA
                    birthdate: '1990-12-31'
                    bio: 'Just a developer!'
                  image:
                    id: 1
                    user_id: 1
                    image_path: user_images/1.jpg
                  skills:
                    -
                      id: 1
                      name: PHP
                      category: Backend
                    -
                      id: 2
                      name: JavaScript
                      category: Frontend
                properties:
                  message:
                    type: string
                    example: 'User profile updated successfully'
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      first_name:
                        type: string
                        example: John
                      last_name:
                        type: string
                        example: Doe
                      email:
                        type: string
                        example: user@example.com
                      phone:
                        type: string
                        example: '+1234567890'
                      country:
                        type: string
                        example: USA
                      birthdate:
                        type: string
                        example: '1990-12-31'
                      bio:
                        type: string
                        example: 'Just a developer!'
                  image:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      user_id:
                        type: integer
                        example: 1
                      image_path:
                        type: string
                        example: user_images/1.jpg
                  skills:
                    type: array
                    example:
                      -
                        id: 1
                        name: PHP
                        category: Backend
                      -
                        id: 2
                        name: JavaScript
                        category: Frontend
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: PHP
                        category:
                          type: string
                          example: Backend
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "optional The user's first name."
                  example: John
                last_name:
                  type: string
                  description: "optional The user's last name."
                  example: Doe
                email:
                  type: string
                  description: "optional The user's email address, must be unique."
                  example: user@example.com
                phone:
                  type: string
                  description: "optional The user's phone number."
                  example: '+1234567890'
                country:
                  type: string
                  description: "optional The user's country."
                  example: USA
                birthdate:
                  type: date
                  description: "optional The user's birthdate in format day-month-year."
                  example: 31-12-1990
                bio:
                  type: string
                  description: 'optional A short bio for the user.'
                  example: 'Just a developer!'
                image:
                  type: string
                  format: binary
                  description: "optional An image file to be uploaded as user's profile picture."
                skills:
                  type: array
                  description: 'optional An array of skill IDs to assign to the user.'
                  example:
                    - 1
                    - 2
                    - 3
                  items:
                    type: string
  /api/user-images:
    get:
      summary: 'Display a listing of all user images.'
      operationId: displayAListingOfAllUserImages
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/user-images could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\artisan'
                      line: 13
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route backend/api/user-images could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line: 144
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 761
                        function: match
                        class: Illuminate\Routing\CompiledRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 110
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 49
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 212
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                        line: 279
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 181
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 1049
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 318
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 169
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 196
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                        line: 1187
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\artisan'
                        line: 13
                        function: handleCommand
                        class: Illuminate\Foundation\Application
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line:
                          type: integer
                          example: 144
                        function:
                          type: string
                          example: handleMatchedRoute
                        class:
                          type: string
                          example: Illuminate\Routing\AbstractRouteCollection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
    post:
      summary: 'Store a newly uploaded image in storage.'
      operationId: storeANewlyUploadedImageInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: repellat
                image:
                  type: string
                  format: binary
                  description: 'Ensure the user ID exists. Must be an image. Must not be greater than 2048 kilobytes.'
              required:
                - user_id
                - image
  '/api/user-images/{user_image_id}':
    get:
      summary: 'Display the specified user image.'
      operationId: displayTheSpecifiedUserImage
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/user-images/10 could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\artisan'
                      line: 13
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route backend/api/user-images/10 could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line: 144
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 761
                        function: match
                        class: Illuminate\Routing\CompiledRouteCollection
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 110
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 49
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 212
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                        line: 279
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 181
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 1049
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 318
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                        line: 169
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 196
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                        line: 1187
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                      -
                        file: 'C:\MAMP\htdocs\backend\artisan'
                        line: 13
                        function: handleCommand
                        class: Illuminate\Foundation\Application
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                        line:
                          type: integer
                          example: 144
                        function:
                          type: string
                          example: handleMatchedRoute
                        class:
                          type: string
                          example: Illuminate\Routing\AbstractRouteCollection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
    put:
      summary: 'Update the specified image in storage.'
      operationId: updateTheSpecifiedImageInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: sint
                image:
                  type: string
                  format: binary
                  description: 'Validate user ID. Must be an image. Must not be greater than 2048 kilobytes.'
              required:
                - user_id
    delete:
      summary: 'Remove the specified image from storage.'
      operationId: removeTheSpecifiedImageFromStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: user_image_id
        description: 'The ID of the user image.'
        example: 10
        required: true
        schema:
          type: integer
  /api/user-skills:
    get:
      summary: ''
      operationId: getApiUserSkills
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route backend/api/user-skills could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\AbstractRouteCollection.php'
                  line: 44
                  trace:
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\CompiledRouteCollection.php'
                      line: 144
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 761
                      function: match
                      class: Illuminate\Routing\CompiledRouteCollection
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 110
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 49
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 212
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Command\Command.php'
                      line: 279
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 1049
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 318
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\symfony\console\Application.php'
                      line: 169
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 196
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\MAMP\htdocs\backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1187
[...]
